<div class="nav-bar">
  <div class="title">Leaflet</div>
</div>
<div class="container">
  <div class="header">
    <p>
      The Leaflet item recommendation system will help us find you the best item
      suggestions according to your preferences. Please indicate whether you
      would be interested or not interested in each item.
    </p>
  </div>
  <app-item-info-card
    @fadeIn
    *ngIf="item && !isLoading"
    [item]="item"
    (submitIsInterested)="submitUserSelection($event)"
  ></app-item-info-card>
  <div class="spinner-wrapper">
    <app-spinner *ngIf="!item || isLoading"></app-spinner>
  </div>
</div>
