.container {
  max-width: 66rem;
  display: flex;
  margin: auto;
  padding: 4rem;
  flex-direction: column;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-bar {
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  box-shadow: 0 0.1rem 0.3rem 0 #ccc;
}

.title {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 66rem;
  padding-right: 4rem;
  padding-left: 4rem;
  font-size: 2rem;
  font-weight: 700;
}
