<div class="card-container">
    <div class="item-card-header">
        <h2 class="item-type">
            <span class="item-type-icon">
                <span [outerHTML]="item.type | itemTypeIconPipe"></span>
            </span>
            {{ item.type | itemTypeTextPipe }}
        </h2>
        <hr>
    </div>
    <div class="item-card-body">
        <img src="{{ item.thumbnail }}" class="item-thumbnail">
        <div class="item-details">
            <h3 class="item-title">
                {{ item.title }}
            </h3>
            <div *ngIf="item.author" class="item-author">
                {{ item.author }}
            </div>
            <div class="item-description">
                {{ item.description }}
            </div>
            <div class="item-buttons">
                <app-primary-button></app-primary-button>
            </div>
        </div>
    </div>
</div>