@import url("https://use.typekit.net/jxz5zvn.css");

@font-face {
  font-family: icomoon;
  src: url("./assets/fonts/icomoon.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "source-sans-pro", sans-serif;
  color: #333;
  background-color: #fdfdfd;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.1rem;
  color: #555;
}

hr {
  background-color: #ccc;
  height: 1px;
  border: none;
}

.text-link {
  color: rgb(33, 99, 173);
  transition: all 0.2s;
  display: inline-block;
}

.text-link:hover {
  color: rgb(23, 79, 143);
  cursor: pointer;
}
